<div class="row"> 
  <div class="col-md-1"></div>
   <div class="col-md-10">
<br/>
<h4 class="text-center"><mark>Wine reviews</mark></h4><br/>
<br/>




<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Wine-Name</th>
      <th>Wine-Reviews</th>
      <th>Customer Rate</th>

    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr class="warning">
        <td><%= review.productname %></td>
        <td><%= review.reviwtext %></td>
        <td><%= review.itemrate %></td>
        
         <% if current_user.admin?%>
        <td><%= link_to 'Show', review , :class => "btn btn-default active   space btn-xs"%></td>
        <td><%= link_to 'Edit', edit_review_path(review), :class => "btn btn-default active   space btn-xs" %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default active   space btn-xs" %></td>
        <% end%>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Return', items_path, :class => "btn btn-warning active  pull-right space btn-xs" %>

</div>
<div class="col-md-1"></div>
</div>